@charset "utf-8";
/* CSS Document */

.form {
	font-family: "Century Gothic", Arial, Helvetica, sans-serif;
	font-size: 14px;
	position: relative;
  	margin: 0 auto;
  	padding: 20px 20px 20px;
  	width: 300px;
}

.form fieldset {
	width: 40em;
	border: 2px solid #333;
}

.form fieldset legend {
	color: #F00;
}

.form submit input{
	text-align: right;
	font-size: 13px;
	margin-top: 15px;
}
